@import "reset.css";
@import "variables.css";
/*components*/
@import "components/common.css";
@import "components/header.css";
@import "components/footer.css";
@import "components/buttons.css";
/*screens*/
@import "screens/main.css";
@import "screens/about.css";
@import "screens/s-track.css";
@import "screens/c-track.css";
@import "screens/achievement.css";
@import "screens/contact.css";
@import "screens/login.css";
@import "screens/join.css";

* {
  font-family: "Pretendard", sans-serif;
}
body {
  line-height: 150%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
