@import "reset.css";
@import "variables.css";
/*components*/
@import "components/header.css";
@import "components/common.css";
/*screens*/
@import "screens/main.css";

* {
  font-family: "Pretendard Std Variable", sans-serif;
}
body {
  line-height: 150%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
