#contact p {
  margin-bottom: 50px;
}

.contact-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}
.contact-wrap h4 {
  margin-bottom: 30px;
}
.contact-wrap div {
  border: 1px rgb(214, 214, 214) solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.contact-wrap span {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--sub-text-color);
  line-height: 180%;
}
.contact-wrap .bold {
  font-weight: 600;
  font-size: 20px;
}
.contact-wrap svg {
  margin-left: 6px;
  width: 24px;
}
