#join {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#join .wrap {
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#join_privacy {
  display: flex;
  flex-direction: column;
}
#join_privacy input {
  width: 22px;
}
#join_privacy h5 {
  font-size: 18px;
  font-weight: 600;
}

.join_privacy_box {
  background-color: white;
  padding: 12px;
  border: var(--main-border);
  height: 250px;
  overflow: auto;
}
.join_privacy_box p {
  font-size: 15px;
  word-break: break-all;
  margin-bottom: 0;
}
.join_row--privacy {
  display: flex;
  align-items: center;
  margin: 10px 0px 20px 0px;
}

#join_form {
  width: 100%;
}
.form_row--jobs .checkbox_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.form_row--jobs .etc {
  display: flex;
  align-items: center;
}
.join_job_etc {
  grid-column: 1/-1;
  height: 38px;
}
