#s-track_proposal a {
  display: flex;
  align-items: center;
  color: var(--point-color);
  margin-bottom: 20px;
}
#s-track_proposal a svg {
  width: 20px;
  margin-left: 6px;
}
#s-track_about .btn-row {
  display: flex;
}
/*submit*/
#s-proposal_form {
  width: 100%;
}
#submit_file {
  border: none;
  padding: 0px;
  margin-top: 10px;
}

/*registration*/
#s-registration_form {
  width: 720px;
}

.registration_applicant {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.form_row--radio .radio-wrap {
  display: flex;
  margin-bottom: 20px;
}
.form_row--radio h5 {
  grid-column: 1/-1;
}
.form_row--radio label {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.form_row--special .checkbox_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.registration_writing textarea {
  height: 140px;
}
