/*common*/
table {
  width: 900px;
}
tr {
  column-gap: 10px;
  align-items: center;
  padding: 8px 20px;
  box-sizing: border-box;
  display: grid;
}
.members_table tr {
  grid-template-columns: 1fr 1fr 5fr 3fr 4fr 5fr;
}
.participants_table tr {
  grid-template-columns: 1fr 1fr 3fr 5fr 4fr 5fr;
}
.proposals_table tr {
  grid-template-columns: 1fr 1fr 14fr 3fr 4fr;
}
tr:nth-child(2n + 1) {
  background-color: rgb(231, 231, 231);
}
tr:first-child {
  background-color: var(--point-color);
  color: white;
  border-radius: 10px 10px 0 0;
  font-size: 17px;
  font-weight: 600;
}
th {
  text-align: start;
}
td a {
  font-weight: 600;
}
td a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.td_number {
  color: var(--point-color);
}
.admin-btn {
  display: flex;
  width: 100%;
}
.admin-btn button {
  border: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 30px;
}
.admin-btn button svg {
  width: 18px;
  margin-right: 6px;
}
.delet-btn {
  color: gray;
}
.download-btn,
.copy-btn {
  color: var(--point-color);
}

/*login-page*/
#login-admin {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-admin .wrap {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(208, 208, 208);
  padding: 60px 44px;
  border-radius: 20px;
}
#login_form-admin {
  width: 100%;
}
#login_form-admin input {
  width: 100%;
}
.login_id-admin {
  margin-bottom: 12px;
}
#login span {
  font-size: 16px;
  margin-top: 40px;
  color: var(--sub-text-color);
}
/*main-admin*/
#quick-menu-admin {
  background-color: var(--main-background-color);
  height: 100%;
  justify-content: start;
  padding-top: 180px;
}
#quick-menu-admin .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 120px 120px;
  gap: 20px;
  justify-items: center;
  align-items: center;
  width: 720px;
}
#quick-menu-admin h2 {
  grid-column: 1/-1;
}
#quick-menu-admin button {
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1.5px solid var(--point-color);
}

#quick-menu-admin button:hover {
  background-color: var(--point-color);
}

/*admin-members*/
.members-admin {
  margin-top: 180px;
}

/*proposals*/
.proposals-admin {
  margin-top: 180px;
}
.proposals-admin .wrap {
  width: 1000px;
}
.proposals_table {
  width: 100%;
}

/*admin-participants*/
.registration--detatil {
  background-color: var(--main-background-color);
  padding: 200px 0px;
}
.registration--detatil input {
  background-color: white;
}

.registration--detatil input::placeholder {
  color: var(--main-text-color);
}
.registration--detatil .checkbox_wrap {
  background-color: white;
}
